@import url(http://fonts.googleapis.com/css?family=Rock+Salt);
@import url(http://fonts.googleapis.com/css?family=Francois+One);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic);

body{
  margin: 0px;
  padding: 10px;
}

header{
  font-size: 55px;
  background-color: rgba(0, 0, 0, 0.85);
  border: 3px solid #7f7e7f;
  font-family: 'Rock Salt', cursive;
  color: white;
  text-align: center;
  padding: 20px;
  margin: 0px;
  letter-spacing: 3px;
  background-image: url(img src="/Images/ig1.jpg");
}

h1{
  text-align: center;
}


footer{
  padding: 5px;
  text-align: center;
  margin-top: 50px;
}

article a {
  text-align: center;
}
nav {
  font-family: 'Francois One', sans-serif;
  text-align: center;
}

nav a{
  padding: 10px;
  font-size: 25px;
  text-decoration: none;
}

nav a:hover{
  color: gray;
}

.about{
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 10px;
  padding: 10px;
  border: 3px black;
  font-size:20px;
  background-color: rgba(0, 0, 0, 0.42);
}

P:first-letter { 
  font-size: 300%; 
  float: top;
}

#photo1 {
  float: inherit;
  border: 4px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 6px solid rgba (0,0,0, 0.85);
 
}

#albums{
  margin-left: auto;
  margin-right: auto;
 display: block; 
}

#link1{
  text-align: center;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}

table{
  margin-left: auto;
  margin-right: auto;
  border-spacing: 5px;
}

.title{
  text-align:center;
}

iframe{
  margin: 0 auto;
  display: block;
}
