<!doctype html>
<html>
  <head>
    <meta charset="utf 8">
    <title>Indigo Girls Fan Site</title>
    <link rel="stylesheet" href="/CSS/style.css">
  </head>
  <body>
    <header>Indigo Girls</header>
    <nav>
      <a href="/">Home Page</a>
      <a href="/about">About</a>
      <a href="/discography">Discography</a>
      <a href="/tour_dates">Tour Dates</a>
    </nav>
    <h1> About </h1>
    
    <article>
        <p class = "about">The Indigo Girls are an American folk rock music duo consisting of Amy Ray and Emily Saliers. 
      They met in elementary school and began performing together as high school students in Decatur, Georgia, 
      part of the Atlanta metropolitan area. They started performing with the name Indigo Girls as students 
      at Emory University, performing weekly at The Dugout, a bar in Emory Village. <br>

      <br>They released a self-produced, full-length record album in 1987 and contracted with a major record 
      company in 1988. After releasing nine albums with major record labels from 1987 through 2007, they have 
      now resumed self-producing albums with their own IG Recordings company.<br>

      <br> Outside of working on Indigo Girls-related projects, Ray has released solo albums and founded a non profit 
      organization that promotes independent musicians, while Saliers is an entrepreneur in the restaurant industry 
      as well as a professional author; she also collaborates with her father, Dr. Don Saliers, in performing for 
      special groups and causes. <br>
        </p>    
    </article>

    <footer> <small>(c) 2014 <strong>Sarah M.Pearson &nbsp  | &nbsp  NSS Student Project</strong> <em>|&nbsp  Not affilated with the Indigo Girls at all just a fan site &nbsp | </em></small>
    </footer>
  </body>
</html>
