<!doctype html>
<html>
  <head>
    <meta charset="utf 8">
    <title>Indigo Girls Fan Site</title>
    <link rel="stylesheet" href="/CSS/style.css">
  </head>
  <body>
    <header>Indigo Girls</header>
    <nav>
      <a href="/">Home Page</a>
      <a href="/about">About</a>
      <a href="/discography">Discography</a>
      <a href="/tour_dates">Tour Dates</a>
    </nav>
    <h1> Discography </h1>
    <article>
      <ul>
        <li><img id = "albums" img src="/Images/album1.jpg"></li>
        <p class ="title">Stranger Fire 1987</p>
        <li><img id = "albums" img src="/Images/album2.jpg"></li>
        <p class ="title">Indigo Girls 1989</p>
        <li><img id = "albums" img src="/Images/album3.jpg"></li>
        <p class ="title">Nomads Indian & Saints 1990</p>
        <li><img id = "albums" img src="/Images/album4.jpg"></li>
        <p class ="title">Rites of Passage 1992</p>
        <li><img id = "albums" img src="/Images/album5.jpg"></li>
        <p class ="title">Swamp Ophelia 1994</p>
        <li><img id = "albums" img src="/Images/album6.jpg"></li>
        <p class ="title">1200 Curfews 1995</p>
        <li><img id = "albums" img src="/Images/album7.jpg"></li>
        <p class ="title">Shaming Of The Sun 1997</p>
        <li><img id = "albums" img src="/Images/album8.jpg"></li>
        <p class ="title">Come on Now Social 1999</p>
        <li><img id = "albums" img src="/Images/album9.jpg"></li>
        <p class ="title">Become You 2002</p>
        <li><img id = "albums" img src="/Images/album10.jpg"></li>
        <p class ="title">All That We Let In 2004</p>
        <li><img id = "albums" img src="/Images/album11.jpg"></li>
        <p class ="title">Despite Our Differences 2006</p>
        <li><img id = "albums" img src="/Images/album12.jpg"></li>
        <p class ="title">Poseiden & The Bitter Bug 2009</p>
        <li><img id = "albums" img src="/Images/album13.jpg"></li>
        <p class ="title">Staring Down The Brillant Dream 2010</p>
        <li><img id = "albums" img src="/Images/album14.jpg"></li>
        <p class ="title">Beauty Queen Sister 2014</p>
      <ul>
    </article>

    <footer> <small>(c) 2014 <strong>Sarah M.Pearson &nbsp  | &nbsp  NSS Student Project</strong> <em>|&nbsp  Not affilated with the Indigo Girls at all just a fan site &nbsp | </em></small>
    </footer>
  </body>
</html>
