<!doctype html>
<html>
  <head>
    <meta charset="utf 8">
    <title>Indigo Girls Fan Site</title>
    <link rel="stylesheet" href="/CSS/style.css">
  </head>
  <body>
    <header>Indigo Girls</header>
    <nav>
      <a href="/">Home Page</a>
      <a href="/about">About</a>
      <a href="/discography">Discography</a>
      <a href="/tour_dates">Tour Dates</a>
    </nav>
    <h1> Latest News for the Indigo Girls </h1>
      <article>
        <p> Look for the Indigo Girls out on the road playing shows with your local Symphony.  Check Tour Dates to see when they are coming to a city near you!</p>
        <img id = "photo1" img src="/Images/ig2.jpg">
          <p> The Indigo Girls are best known for their 1988 hit "Closer To Fine".  Watch the video below!</p>
        <iframe width="420" height="315" src="//www.youtube.com/embed/HUgwM1Ky228" frameborder="2px" allowfullscreen></iframe> <br>
        <a href = "http://www.indigogirls.com/home.html"> Head here for the Indigo Girls Official Site</a> 
      </article>


    <footer> <small>(c) 2014 <strong>Sarah M.Pearson &nbsp  | &nbsp  NSS Student Project</strong> <em>|&nbsp  Not affilated with the Indigo Girls at all just a fan site &nbsp | </em></small>
    </footer>
  </body>
</html>
