<!doctype html>
<html>
  <head>
    <meta charset="utf 8">
    <title>Indigo Girls Fan Site</title>
    <link rel="stylesheet" href="/CSS/style.css">
  </head>
  <body>
    <header>Info</header>
    <nav>
      <a href="/">Home Page</a>
      <a href="/about">About</a>
      <a href="/discography">Discography</a>
      <a href="/tour_dates">Tour Dates</a>
    </nav>
    <h1> My Header </h1>
    <article>
    
    </article>

    <footer> <small>(c) 2014 <strong>Sarah M.Pearson &nbsp  | &nbsp  NSS Student Project</strong> <em>|&nbsp  Not affilated with the Indigo Girls at all just a fan site &nbsp | </em></small>
    </footer>
  </body>
</html>
